.form-group {
  width: 400px;
  padding-left: 20px;
}

.btn {
  display: block;
}

.form-check {
  padding-left: 20px;
  margin: 5px 0;
}

button.btn-info {
  margin: 20px;
}

.form-group label {
  margin-top: 10px;
}

.form-group .btn-primary {
  margin-top: 15px;
}

.text-danger {
  font-weight: bold;
}